/* ESERCIZIO 1 */

#es-1 .box {
    background-color: pink;
    display: inline-block;
}

@media screen and (max-width: 478px) {
    #es-1 .box {
        background-color: dodgerblue;
        display: block;
    }
}

#es-2 {
    display: flex;
    align-items: center;
    justify-content: center;
}

#es-2 img {
    border: 1px solid orange;
    margin: 5px;
}

@media screen and (max-width: 779px) {
    #es-2 {
        max-width: 500px;
        flex-wrap: wrap;
        align-content: flex-start;
    }
}

@media screen and (max-width: 569px) {
    #es-2 {
        flex-direction: column;
        align-items: center;
        align-content: center;
    }
}


/* ESERCIZIO 3 */

#es-3 .box {
    background-color: dodgerblue;
    transition: border-radius 1s;
}

@media screen and (max-width: 479px) {
    #es-3 .box {
        border-radius: 50%;
    }
}


/* ESERCIZIO 4 */

#es-4 {
    border: 0;
    height: 300px;
    background-color: pink;
}

@media screen and (max-width: 1399px) {
    #es-4 {
        background-color: blue;
    }
}

@media screen and (max-width: 479px) {
    #es-4 {
        background-color: forestgreen;
    }
}


/* ESERCIZIO 5 */

#es-5 {
    text-transform: capitalize;
    font-family: serif;
}

#es-5 li {
    display: inline-block;
    background-color: #aaa;
    padding: 0 15px;
    color: white;
    font-size: 18px;
}

@media screen and (max-width: 779px) {
    #es-5 ul {
        list-style-type: disc;
    }
    #es-5 li {
        display: block;
        background-color: transparent;
        padding: 0;
        color: #000;
        font-size: 1rem;
    }
}


/* ESERCIZIO 6 */

#es-6 {
    display: flex;
}

#es-6 .bg-blue {
    background-color: dodgerblue;
}

#es-6 .bg-green {
    display: flex;
    flex-grow: 1;
    align-items: center;
    background-color: forestgreen;
}

#es-6 .small-box {
    background-color: #fff;
    height: 150px;
    width: 150px;
    margin-left: 20px;
}

@media screen and (max-width: 579px) {
    #es-6 .bg-green {
        display: none;
    }
    #es-6 .bg-blue {
        flex-grow: 1;
    }
}