@media screen and (max-width: 1000px) {
    .container.grey {
        background-color: white;
    }
}

@media screen and (max-width: 768px) {
    h1 {
        position: absolute;
        padding-bottom: 30px;
        margin: 0;
        top: 0;
        left: 50%;
        transform: translate(-50%, -50%);
    }
    .container.grey {
        background-color: white;
    }
    .container {
        min-width: 420px;
    }
    hr {
        display: none;
    }
    .row {
        display: flex;
        width: 100%;
        flex-flow: row nowrap;
        align-items: center;
        background-color: white;
        position: relative;
        margin-left: -10px;
        padding: 20px;
    }
    img {
        height: 100px;
    }
    #why>div {
        display: flex;
        justify-content: center;
        transform: scale(0.8);
    }
    .first,
    .second,
    .third {
        height: 500px;
        padding: 5px;
    }
    .left,
    .central,
    .right {
        height: 300px;
    }
    #steps>div {
        background-color: dodgerblue;
    }
}

@media screen and (max-width: 420px) {
    h1 {
        position: initial;
        padding: 0;
        transform: initial;
    }
    .row {
        display: flex;
        width: 992px;
        flex-flow: column wrap;
        align-items: center;
        padding: 0;
        position: initial;
        background-color: #f2f2cd;
    }
    #steps>div {
        background-color: white;
    }
    img {
        transform: scale(1);
    }
    #why>div {
        display: flex;
        transform: scale(1);
    }
    .first,
    .second,
    .third {
        height: 100%;
    }
    .left,
    .central,
    .right {
        height: 100%;
    }
}