@media screen and (max-width: 768px) {
    h1 {
        position: absolute;
        padding-bottom: 30px;
        margin: 0;
        top: 0;
        left: 50%;
        transform: translate(-50%, -50%);
    }
    .row {
        display: flex;
        flex-flow: row nowrap;
        align-items: center;
        background-color: #f2f2cd;
        position: relative;
    }
    #steps>div {
        background-color: white;
    }
    #why>div {
        /* display: flex; */
        /* flex-flow: row nowrap; */
    }
}