@media screen and (max-width: 420px) {
    .row {
        display: flex;
        flex-flow: column wrap;
        align-items: center;
        background-color: #f2f2cd;
    }
    #steps>div {
        background-color: white;
    }
}